body {
    background-color: rgb(243, 222, 226);
  }
  h3 {
    color: blue;
  }
.image{
    width: 200px;
    height: 250px;

} 
div{
    font-style:italic;
    color: red;
}
a{
  color: peru;
  text-decoration: none;
}
p ::first-letter{
  font-size: 3em;
}
span{
  color:rgb(22, 197, 80);
}
a[target=_blank]:hover{
  text-decoration: underline ;
}